<h2>Reactive form</h2>
<form [formGroup]="registration" >
  <label for="name">Name:</label>
  <input type="text" class="form-control" id="name" formControlName="name">

  <label for="age">Age:</label>
  <input type="text" class="form-control" id="age" formControlName="age">

  <label for="email">Email:</label>
  <input type="text" class="form-control" id="email" formControlName="email">

  <button class="btn btn-primary" (click)="testFunc()" [disabled]="registration.status !== 'INVALID'">Sign in</button>
</form>

<app-registration-list [userData]="dataRegistration"></app-registration-list>
